#heading{
    padding:2px;
    margin: 10px;
    font-size: 15px;
    border-bottom: 1px solid #ccc ;
    border-top:1px solid #ccc ;
}
#maindiv{
    border-bottom: 1px solid #ccc;
    padding: 30px;
    /* width: 100px; */
    /* margin: auto; */
}
.image{
   /* width: 200px;
    padding: 10px; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
   
}

.content{
    border: 1px solid #ccc;
    padding: 20px;
    display: inline-block;
    position: relative;
   
}
.content a{
    font-size: 15px;
    text-decoration: none;
}
.content p span{
    /* background-color: green; */
    color: green;
}
.content strong{
    padding: 4px;
    border-radius:5px;

}
.content strong i{
    /* color: #fff; */
    border-radius: 20px;
    background-color: #fff;
}
